html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.row-inputs {
    display: flex;
}

.row-inputs > div {
    width: 100%;
    padding: 2px;
}